@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body .pageContainer {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
body #particles-js {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
  background-color: #000714;
}

header {
  background-color: rgba(0, 0, 0, 0);
  height: 150px;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
header nav {
  height: 150px;
}
header nav ul {
  height: 150px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
header nav ul li {
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffffff;
  /*img{
      height: 150px;
      width: 150px;
  }*/
}
header nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5333333333);
  font-weight: 350;
  padding: 3px;
  margin: 10px;
  text-shadow: 0px 0px 10px rgb(255, 255, 255);
  /*border: solid 1px #ffffff00;
      border-radius: 10px;*/
}

main {
  width: 100vw;
  /*aside{
      background-color: $beige1;
      nav{
          ul{

              li{
                  margin: auto;
                  font-size: 1rem;
                  padding: 7px;
              }
          }
      }
  }*/
  /*section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      div{
          p{
              margin: 10px;
          }
          .title{
              font-size: 1.3rem;
              margin: 10px auto;
              }
              .text{
                  font-size: 1rem;
                  text-align: justify;
                  width: 70%;
                  margin: auto;
              }
      }
  }
  .progress-bar {
      height: 5px;
      background-color: #333;
      position: fixed;
      top: 0;
      left: 0;
      width: 0;
      z-index: 9999;
    }*/
}
main .home-introduction {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .home-introduction h1, main .home-introduction h3 {
  text-align: center;
  color: rgba(255, 255, 255, 0.4901960784);
  padding: 3px;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}
main .home-introduction h1 {
  font-size: 2rem;
  padding: 3px;
  font-weight: 450;
}
main .home-introduction h3 {
  font-size: 1.5rem;
  padding: 3px;
  margin-bottom: 20px;
  font-weight: 350;
}

.mainNotHome {
  background-color: "#000714";
}

.contactPage h1 {
  text-align: center;
  color: rgba(255, 255, 255, 0.4901960784);
  padding: 3px;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 450;
}
.contactPage ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.contactPage ul li {
  margin: 15px auto;
}
.contactPage ul li a {
  margin: 10px;
  padding: 7px;
}
.contactPage ul li a img {
  width: 130px;
  height: auto;
}

.skillsPage {
  width: 100vw;
  margin-bottom: 10px;
}
.skillsPage h1 {
  text-align: center;
  color: rgba(255, 255, 255, 0.4901960784);
  padding: 3px;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 450;
}
.skillsPage ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 100vw;
  margin: auto;
}
.skillsPage ul li {
  margin: 15px auto;
}
.skillsPage ul li button {
  text-decoration: none;
  border: none;
  margin: 10px;
}
.skillsPage ul li button img {
  width: 130px;
  height: auto;
  background-color: #000714;
}

.portfolioPage {
  width: 100vw;
  margin-bottom: 10px;
}
.portfolioPage h1 {
  text-align: center;
  color: rgba(255, 255, 255, 0.4901960784);
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  font-size: 2rem;
  padding: 3px;
  font-weight: 450;
}
.portfolioPage h3 {
  text-align: center;
  color: rgba(255, 255, 255, 0.4901960784);
  padding: 3px;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 450;
}
.portfolioPage ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 100vw;
  margin: auto;
}
.portfolioPage ul li {
  margin: 15px auto;
}
.portfolioPage ul li a {
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
}
.portfolioPage ul li a:visited {
  color: #ffffff;
}

.aboutPage h1 {
  text-align: center;
  color: rgba(255, 255, 255, 0.4901960784);
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  font-size: 2rem;
  padding: 3px;
  font-weight: 450;
}
.aboutPage p {
  max-width: 80vw;
  color: #ffffff;
  font-size: 1rem;
  text-align: justify;
  text-align: center;
  margin: auto;
}

.animated-text {
  display: block;
  animation-duration: 1.5s; /* Duración de la animación */
  animation-fill-mode: both; /* La animación mantiene el estado final después de terminar */
}

@keyframes slide-up {
  0% {
    transform: translateY(20px); /* Comienza 20px más abajo */
    opacity: 0; /* Comienza completamente transparente */
  }
  100% {
    transform: translateY(0); /* Termina en su posición original */
    opacity: 1; /* Termina completamente visible */
  }
}
/* Animación para la bajada */
@keyframes slide-down {
  0% {
    transform: translateY(0); /* Comienza en su posición original */
    opacity: 1; /* Comienza completamente visible */
  }
  100% {
    transform: translateY(20px); /* Termina 20px más abajo */
    opacity: 0; /* Termina completamente transparente */
  }
}
/* Aplica la animación de subida cuando entra al viewport */
.animated-text.in {
  animation-name: slide-up;
}

/* Aplica la animación de bajada cuando sale del viewport */
.animated-text.out {
  animation-name: slide-down;
}

footer {
  width: fit-content;
  margin: 7px auto;
}
footer div p {
  font-size: 1.1rem;
  padding: 3px;
  border: solid rgba(255, 255, 255, 0.4901960784) 2px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.4901960784);
  text-align: center;
}

/* Media Query para pantallas móviles (ancho menor o igual a 600px) */
@media (max-width: 600px) {
  .desktopNav {
    display: none;
  }
  header {
    background-image: none;
    height: 15px;
  }
  main .mobileNav {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    padding-top: 10px;
  }
  main .mobileNav nav ul {
    list-style-type: none;
  }
  main .mobileNav nav ul li {
    text-align: center;
  }
  main .mobileNav nav ul li a {
    color: rgba(255, 255, 255, 0.4901960784);
    text-decoration: none;
    padding: 3px;
    margin: auto auto;
    font-size: 1.2rem;
    border: solid 2px rgba(255, 255, 255, 0.4901960784);
    border-radius: 10px;
  }
  main .mobileNav nav ul li a:visited {
    color: rgba(255, 255, 255, 0.4901960784);
  }
  footer {
    width: 90vw;
  }
}
@media (min-width: 601px) {
  header nav ul li a {
    /*&:not(:hover) {
        filter: blur(3px);
    }*/
  }
  header nav ul li a:hover {
    color: #ffffff;
  }
  main {
    /*.porfolioPage{
        ul{
            li{

                a{
                    transform: scale(1.05);
                    &:hover{
                        border: solid 1px #ffffff;
                        border-radius: 10px;
                        text-shadow: 0px 0px 10px rgb(255, 255, 255);

                    }
                }
            }
        }
    }*/
  }
  main .mobileNav {
    display: none;
  }
  main .contactPage {
    max-width: 50vw;
    margin: auto;
    padding: 5px;
  }
  main .contactPage h1 {
    margin-bottom: 30px;
  }
  main .contactPage ul {
    flex-direction: row;
    align-items: center;
  }
  main .skillsPage ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    gap: 7px;
  }
}