footer{
    //background-color: $background-footer;
    //bottom: 0;
    //width: 100vw;
    width: fit-content;
    margin: 7px auto;
        div{
            p{
                font-size: 1.1rem;
                padding: 3px;
                border: solid #ffffff7d 2px;
                border-radius: 10px;
                color: #ffffff7d;
                text-align: center;
            }
        }
}