
$body-color: "#0caba8";

//tonos de beige
$beige1: #a67a5b;
$beige2: #c19770;
$beige3: #d5b895;
$beige4: #faf0dc;
$beige5: #e8dcb5;

//tonos genéricos
$background-body: #fdf4eb;
$background-header: #e7cfb0;
$background-footer: #6b6c65;